.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 20px;
    color: white;
  }
  
  .search-bar {
    padding: 10px;
    width: 300px;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .btn-signin {
    background-color: #28a745;
  }
  
  .btn-signup {
    background-color: #dc3545;
  }
  
  .btn-signout {
    background-color: #ffcc00;
  }
  