/* General App Styling */
.App {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5; /* Light background */
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Blue background */
  padding: 20px;
  color: white;
}

.search-bar {
  padding: 10px;
  width: 250px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
}

.btn-signin {
  background-color: #28a745; /* Green */
}

.btn-signup {
  background-color: #dc3545; /* Red */
}

/* Game Card Styles */
.game-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.game-card {
  background-color: #8B4513; /* Brown color */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  color: white;
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-view {
  background-color: #ffcc00; /* Yellow button */
  border: none;
  padding: 10px;
  cursor: pointer;
}
